Repository fishgills/battlebot: changes, and which CircleCI parameters are due for each by the changed paths.
All: bot, backend, web

ADDED: Health module Health module to the backend package - Created a HealthController with a GET endpoint for health checks - Used the Terminus library for health checks
  .circleci/continue_config.yml
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/health/health.module.ts
  yarn.lock
Due: backend

UPDATED: Updated default value for backend parametercircleci/continue_config.yml
  .circleci/continue_config.yml
Due: none

UPDATED: Removed unnecessary comments and .circleci/continue_config.yml
  .circleci/continue_config.yml
Due: none

UPDATED: Updated package.json and added docker-entrypoint.sh- Removed "dependencies" section from package.json - Added "docker-entrypoint.sh" file in packages/backend directory
  package.json
  packages/backend/docker-entrypoint.sh
  yarn.lock
Due: backend

UPDATED: Added typescript dependency and changed docker-entrypoint.sh script.
  package.json
  packages/backend/docker-entrypoint.sh
Due: backend

ADDED: dotenv dependency and updated version
  package.json
  packages/backend/src/main.ts
  yarn.lock
Due: backend

ADDED: Docker entrypoint script and.ts changes
  packages/backend/docker-entrypoint.sh
  packages/backend/src/main.ts
Due: backend

UPDATED: Update database connection settings in app.module.ts
  packages/backend/src/app.module.ts
Due: backend

migration start
  packages/backend/docker-entrypoint.sh
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/characters/entities/character.entity.ts
  packages/backend/src/combat/entities/combat.entity.ts
  packages/backend/src/db/migrations/1687679703217-Initial.ts
  packages/backend/src/db/typeorm.config.ts
  packages/backend/src/main.ts
  yarn.lock
Due: backend

UPDATED: docker-entrypoint.sh script
  packages/backend/docker-entrypoint.sh
Due: backend

UPDATED: Updated typeorm configuration from ".ts" to ".js"
  packages/backend/docker-entrypoint.sh
Due: backend

blah
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/characters/dto/update-character.dto.ts
  packages/backend/src/characters/entities/character.entity.ts
  packages/backend/src/db/migrations/1687798475555-reward.ts
  packages/backend/src/db/typeorm.config.ts
  packages/backend/src/install/dto/create-install.dto.ts
  packages/backend/src/install/dto/update-install.dto.ts
  packages/backend/src/install/entities/install.entity.ts
  packages/backend/src/install/install.controller.spec.ts
  packages/backend/src/install/install.controller.ts
  packages/backend/src/install/install.module.ts
  packages/backend/src/install/install.service.spec.ts
  packages/backend/src/install/install.service.ts
  packages/backend/src/main.ts
  packages/backend/src/reward/dto/create-reward.dto.ts
  packages/backend/src/reward/dto/scoreboard.ts
  packages/backend/src/reward/dto/update-reward.dto.ts
  packages/backend/src/reward/entities/reward.entity.ts
  packages/backend/src/reward/reward.controller.spec.ts
  packages/backend/src/reward/reward.controller.ts
  packages/backend/src/reward/reward.module.ts
  packages/backend/src/reward/reward.service.spec.ts
  packages/backend/src/reward/reward.service.ts
  packages/bot/package.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/index.ts
  packages/bot/src/reward_handler/reward-observer.ts
  packages/bot/src/swagger/Bot.ts
  packages/bot/src/utils/api.ts
  packages/bot/src/utils/gql.ts
  packages/bot/src/utils/helpers.ts
  yarn.lock
Due: bot, backend

UPDATED: Added new endpoint to CharactersController and modified SheetObserver
  packages/backend/src/base/service.ts
  packages/backend/src/characters/characters.controller.ts
  packages/backend/src/characters/characters.service.ts
  packages/backend/src/combat/combat.service.ts
  packages/backend/src/install/install.service.ts
  packages/backend/src/reward/reward.service.ts
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/swagger/Bot.ts
Due: bot, backend

UPDATED: API Property Annotations to BaseEntity
  packages/backend/src/base/entity.ts
  packages/bot/src/swagger/Bot.ts
  packages/bot/src/views/character.ts
Due: bot, backend

UPDATED: Combat Combat Service, CreateCombatDto
  packages/backend/src/base/entity.ts
  packages/backend/src/combat/combat.controller.ts
  packages/backend/src/combat/combat.service.ts
  packages/backend/src/combat/dto/create-combat.dto.ts
Due: backend

AD- Exports CharactersService
  packages/backend/src/characters/characters.module.ts
  packages/backend/src/characters/entities/character.entity.ts
  packages/backend/src/combat/combat.module.ts
  packages/backend/src/combat/entities/combat.entity.ts
  packages/backend/src/db/migrations/1687814744618-big.ts
  packages/backend/src/db/typeorm.config.ts
  packages/backend/src/gamerules.ts
  packages/backend/src/install/entities/install.entity.ts
  packages/bot/src/swagger/Bot.ts
  packages/bot/src/views/character.ts
Due: bot, backend

UPDATED: Tracked changes in git
  packages/backend/src/combat/combat.controller.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/swagger/Bot.ts
  packages/bot/src/views/home.ts
Due: bot, backend

asdf
  packages/backend/src/base/service.ts
  packages/backend/src/characters/characters.controller.ts
  packages/backend/src/characters/characters.service.ts
  packages/bot/src/actions/reroll-observer.ts
  packages/bot/src/swagger/Bot.ts
Due: bot, backend

UPDATED: Fixed active property in UpdateCharacterDto
  packages/backend/src/characters/dto/update-character.dto.ts
  packages/bot/src/actions/stats-observer.ts
  packages/bot/src/swagger/Bot.ts
Due: bot, backend

ADDED Create-Scoreboard.Dto.ts
  packages/backend/src/reward/dto/create-scoreboard.dto.ts
  packages/backend/src/reward/entities/scoreboard.entity.ts
  packages/backend/src/reward/reward.controller.ts
  packages/backend/src/reward/reward.service.ts
  packages/bot/src/swagger/Bot.ts
  packages/bot/src/views/home.ts
Due: bot, backend

ADDED:
  packages/backend/package.json
  packages/backend/src/install/dto/create-install.dto.ts
  packages/backend/src/install/dto/update-install.dto.ts
  packages/backend/src/install/entities/install.entity.ts
  packages/backend/src/install/install.controller.ts
  packages/backend/src/install/install.service.ts
  packages/bot/src/installation_store.ts
  packages/bot/src/swagger/Bot.ts
  yarn.lock
Due: bot, backend

UPDATED: Git Changes
  packages/backend/src/main.ts
  packages/bot/src/index.ts
  packages/bot/src/utils/helpers.ts
Due: bot, backend

asdf
  packages/bot/package.json
  packages/bot/src/utils/api.ts
  packages/bot/src/views/home.ts
Due: bot

blah
  .vscode/launch.json
Due: none

Blooopity
  .vscode/launch.json
  battlebot.code-workspace
  packages/backend/package.json
  packages/backend/src/base/entity.ts
  packages/backend/src/base/service.ts
  packages/backend/src/characters/characters.controller.ts
  packages/backend/src/characters/characters.service.ts
  packages/backend/src/characters/entities/character.entity.ts
  packages/backend/src/combat/combat.service.ts
  packages/backend/src/combat/entities/combat.entity.ts
  packages/backend/src/install/entities/install.entity.ts
  packages/backend/src/install/install.service.ts
  packages/backend/src/reward/entities/reward.entity.ts
  packages/backend/src/reward/reward.service.ts
  packages/bot/src/index.ts
  packages/bot/src/installation_store.ts
  packages/bot/src/views/home.ts
Due: bot, backend

chore: Update npm dependencies
  package.json
  packages/backend/package.json
  packages/bot/package.json
  yarn.lock
Due: bot, backend

asdfasdf
  battlebot.code-workspace
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/base/service.ts
  packages/backend/src/characters/characters.controller.ts
  packages/backend/src/characters/characters.service.ts
  packages/backend/src/characters/entities/character.entity.ts
  packages/backend/src/combat/combat.controller.ts
  packages/backend/src/combat/combat.service.ts
  packages/backend/src/db/typeorm.config.ts
  packages/backend/src/global/global.filter.spec.ts
  packages/backend/src/global/global.filter.ts
  packages/backend/src/install/install.service.ts
  packages/backend/src/main.ts
  packages/backend/src/reward/reward.controller.ts
  packages/backend/src/reward/reward.service.ts
  packages/backend/tsconfig.json
  yarn.lock
Due: backend

feat: Add combatHitPoints property and initCombat method to Character entity and update combat logic in CharacterService
  packages/backend/src/character/character.entity.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/character/combat-log-types.ts
  packages/backend/src/gamerules.ts
Due: backend

feat: Add Client entity to auth module
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/entities/client.entity.ts
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/src/auth/jwt-strategy.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/config/config.module.ts
  yarn.lock
Due: backend

feat: Add TypeORM configuration and migration scripts
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/src/auth/jwt-strategy.ts
  packages/backend/src/character/character.entity.ts
  packages/backend/src/config/typeorm.ts
  packages/backend/src/migrations/1725692356274-Initial.ts
  packages/backend/src/migrations/1725692428674-AddServiceAccount.ts
  packages/backend/src/user/user.entity.ts
Due: backend

refactor: Remove pino-pretty from start:dev script in package.json
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/main.ts
Due: backend

refactor: Remove pino-pretty from start:dev script in package.json
  .vscode/extensions.json
  .vscode/launch.json
  packages/backend/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/src/character/character.entity.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/main.ts
  packages/backend/src/migrations/1725948958301-Some.ts
  packages/backend/src/migrations/1725951582560-CharacterToOwnerId.ts
  packages/backend/src/migrations/1726016324356-CharacterUniqueOwner.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/package.json
  packages/bot/src/dispatcher.ts
  packages/bot/src/env.ts
  packages/bot/src/generated/graphql.ts
  packages/bot/src/locales/en/common.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/utils/gql.ts
  packages/bot/src/utils/helpers.ts
Due: bot, backend

refactor: Update i18n configuration and resource imports
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/src/@types/i18next.d.ts
  packages/bot/src/@types/resources.ts
  packages/bot/src/generated/graphql.ts
  packages/bot/src/i18n.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/common.json
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/utils/helpers.ts
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Update i18n configuration and resource imports
  packages/bot/src/generated/graphql.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/queries/characters.graphql
Due: bot

help works
  packages/bot/src/common/AbstractObserver.ts
  packages/bot/src/common/BaseObserver.ts
  packages/bot/src/common/types.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/mention_handler/help.ts
  packages/bot/src/mention_handler/index.ts
  packages/bot/src/mention_handler/observer.ts
Due: bot

Delete works
  packages/bot/package.json
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/views/character.ts
Due: bot

refactor: Add reroll functionality to CharacterController
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/character.entity.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/package.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Update character sheet title in editCharacterModal
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/character.entity.ts
  packages/backend/src/migrations/1726206360958-CharacterDates.ts
  packages/backend/src/migrations/1726207010922-CharacterNameLength.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/utils/gql.ts
  packages/bot/src/views/character.ts
Due: bot, backend

Path conditions:
  bot: any of: packages/bot/.*
  backend: any of: packages/backend/.*
  web: any of: packages/web/.*
