Repository fishgills/battlebot: changes, and which CircleCI parameters are due for each by the changed paths.
All: bot, backend, web

refactor: Add UpdateCharacterDto for character updates
  packages/backend/src/character/DTO/update-character.dto.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Add nullable target field in BaseLog class
  packages/backend/src/character/combat-type.dto.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Add nullable target field in BaseLog class
  battlebot.code-workspace
  packages/backend/src/character/character.service.ts
  packages/backend/src/character/combat-type.dto.ts
  packages/bot/package.json
  packages/bot/src/env.ts
  packages/bot/src/index.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-handler.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Add nullable target field in BaseLog class
  packages/backend/src/character/DTO/update-character.dto.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/combat-type.dto.ts
  packages/backend/src/schema.gql
  packages/bot/graphql.schema.json
  packages/bot/src/generated/graphql.ts
  packages/bot/src/locales/en/ns1.json
  packages/bot/src/mention_handler/character-handler.ts
  packages/bot/src/queries/characters.graphql
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Disable debug mode in i18n.ts and remove unused import in home.ts
  packages/bot/src/dispatcher.ts
  packages/bot/src/i18n.ts
  packages/bot/src/index.ts
  packages/bot/src/logger.ts
  packages/bot/src/mention_handler/character-handler.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/views/character.ts
  packages/bot/src/views/home.ts
Due: bot

refactor: Update GraphQL schema and documents paths
  .graphqlrc.yml
  packages/backend/src/app.module.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/conversations/conversation.controller.ts
  packages/backend/src/conversations/conversation.entity.ts
  packages/backend/src/conversations/conversation.module.ts
  packages/backend/src/conversations/conversation.service.ts
  packages/backend/src/migrations/1727072720259-Conversations.ts
  packages/backend/src/migrations/1727073420507-Conversations.ts
  packages/backend/src/migrations/1727075915763-ConversationNum.ts
  packages/backend/src/migrations/1727076038965-ConversationNumBig.ts
  packages/backend/src/schema.gql
  packages/bot/codegen.yml
  packages/bot/graphql.schema.json
  packages/bot/src/convo-store.ts
  packages/bot/src/generated/graphql.ts
  packages/bot/src/index.ts
  packages/bot/src/queries/conversation.graphql
Due: bot, backend

refactor: Enable corepack in Dockerfile
  Dockerfile
Due: none

refactor: Update build command in package.json
  packages/bot/package.json
  yarn.lock
Due: bot

refactor: Update path-filtering and gcp-gcr orbs in CircleCI config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

refactor: Update Dockerfile to use immutable flag in yarn install command
  Dockerfile
Due: none

refactor: Update Dockerfile to remove --immutable flag in yarn install command
  Dockerfile
  yarn.lock
Due: none

refactor: Update package.json and yarn.lock to add graphql-tag dependency
  packages/bot/package.json
  yarn.lock
Due: bot

refactor: Comment out unused migration command in docker-entrypoint.sh
  packages/backend/docker-entrypoint.sh
Due: backend

refactor: Update Dockerfile to include additional files and optimize yarn install command
  Dockerfile
  package.json
  packages/bot/package.json
  yarn.lock
Due: bot

refactor: Update file paths in docker-entrypoint.sh
  packages/backend/docker-entrypoint.sh
  packages/bot/docker-entrypoint.sh
Due: bot, backend

refactor: Update dependencies and file paths
  packages/bot/package.json
  packages/bot/src/actions/action-observer.ts
  packages/bot/src/actions/done-observer.ts
  packages/bot/src/actions/index.ts
  packages/bot/src/actions/reroll-observer.ts
  packages/bot/src/actions/stats-observer.ts
  packages/bot/src/logger.ts
  packages/bot/src/mention_handler/character-handler.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/mention_handler/create-character.ts
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/reward_handler/index.ts
  packages/bot/src/reward_handler/reward-observer.ts
  packages/bot/src/state_store.ts
  packages/bot/src/tools/manifest.json
  packages/bot/src/tools/manifest.mjs
  packages/bot/src/utils/gql.ts
  packages/bot/src/views/character.ts
  packages/bot/src/views/home.ts
  packages/bot/tsconfig.json
  tsconfig.json
  yarn.lock
Due: bot

refactor: Update Dockerfile and docker-entrypoint.sh to optimize environment variable handling
  Dockerfile
  packages/bot/docker-entrypoint.sh
  packages/bot/package.json
  yarn.lock
Due: bot

refactor: Remove unused files and optimize configuration
  .editorconfig
  .eslintrc.js
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  circle.yml
  eslint.config.js
  ns.json
  package-lock.json
  package.json
  packages/backend/.eslintrc.js
  packages/backend/eslint.config.js
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/project.json
  packages/backend/tsconfig.app.json
  packages/backend/tsconfig.build.json
  packages/backend/tsconfig.json
  packages/backend/webpack.config.js
  packages/bot/.editorconfig
  packages/bot/.gitattributes
  packages/bot/bot.code-workspace
  packages/bot/circle.yml
  packages/bot/esbuild.js
  packages/bot/graphql.schema.json
  packages/bot/package.json
  packages/bot/project.json
  packages/bot/tsconfig.app.json
  packages/bot/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: bot, backend

refactor: Update file paths and dependencies
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/backend/project.json
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/jwt-strategy.ts
  packages/backend/src/character/character.controller.ts
  packages/backend/src/character/character.service.ts
  packages/backend/src/conversations/conversation.controller.ts
  packages/backend/webpack.config.js
  packages/bot/project.json
  packages/bot/tsconfig.app.json
  perf-test/script.js
  src/schema.gql
Due: bot, backend

refactor: Update Dockerfile and docker-entrypoint.sh to optimize environment variable handling
  .dockerignore
  packages/backend/Dockerfile
  packages/backend/project.json
  packages/backend/src/app.module.ts
  packages/backend/src/conversations/conversation.entity.ts
  packages/bot/Dockerfile
  packages/bot/project.json
  src/schema.gql
Due: bot, backend

docs: Add Copilot instructions for commit message guidelines and project structure
  .github/copilot-instructions.md
Due: none

refactor: Enhance logging and update Copilot instructions with emoji usage
  .github/copilot-instructions.md
  packages/bot/src/index.ts
  packages/bot/src/logger.ts
Due: bot

refactor: Improve character service logic, update environment variables, and integrate OpenAI API for chat responses
  nx.json
  package-lock.json
  package.json
  packages/backend/src/character/character.service.ts
  packages/bot/project.json
  packages/bot/src/chat-gpt.ts
  packages/bot/src/env.ts
  packages/bot/src/index.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/slack-schema.json
  packages/bot/src/views/character.ts
Due: bot, backend

refactor: Update combat handler to generate Slack Blot Kit JSON response with story format and emojis
  packages/bot/src/mention_handler/combat.ts
Due: bot

refactor: Update CircleCI configuration for Docker executor, add GCR authentication job, and enhance workspace handling
  .circleci/config.yml
  .github/copilot-instructions.md
  battlebot.code-workspace
  packages/bot/src/chat-gpt.ts
Due: bot

refactor: Update CircleCI configuration to use Node.js 16, enhance affected project detection, and separate build and push jobs for backend and bot
  .circleci/config.yml
Due: none

refactor: Update CircleCI configuration to use the latest Node.js image for the Docker executor
  .circleci/config.yml
Due: none

refactor: Update CircleCI configuration to use Node.js 16, remove GCR authentication job, and streamline build and push jobs
  .circleci/config.yml
Due: none

refactor: Update GCP GCR orb version in CircleCI configuration
  .circleci/config.yml
Due: none

refactor: Update CircleCI configuration to use path filtering and GCP GCR orb version
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

refactor: Update Dockerfile to use npm instead of yarn and streamline build process
  Dockerfile
Due: none

refactor: Update Dockerfile to copy nx.json and remove redundant package.json copy
  Dockerfile
Due: none

refactor: Update Dockerfile to copy tsconfig.base.json and eslint.config.js, and adjust package copy path
  Dockerfile
Due: none

refactor: Enhance CircleCI configuration with new jobs for detecting affected projects and building/pushing applications
  .circleci/config.yml
  .circleci/continue_config.yml
  Dockerfile
Due: none

refactor: Update CircleCI configuration to use Alpine-based Node.js image
  .circleci/config.yml
Due: none

refactor: Add NX orb and update affected projects command in CircleCI configuration
  .circleci/config.yml
Due: none

refactor: Improve CircleCI configuration with caching for node_modules and update dependency installation command
  .circleci/config.yml
Due: none

refactor: Update CircleCI configuration to use Node.js LTS image instead of Alpine variant
  .circleci/config.yml
Due: none

Path conditions:
  bot: any of: packages/bot/.*
  backend: any of: packages/backend/.*
  web: any of: packages/web/.*
