Repository fishgills/battlebot: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, web

progress
  .circleci/continue_config.yml
Due: none

progress
  packages/backend/src/main.ts
Due: backend

progress
  packages/backend/src/health/health.controller.ts
  packages/backend/src/main.ts
Due: backend

progress
  .circleci/circle_trigger.sh
  .circleci/config.yml
  .circleci/continue_config.yml
  packages/backend/src/health/health.controller.ts
Due: backend

progress
  .circleci/continue_config.yml
  battlebot.code-workspace
  packages/backend/package.json
  packages/backend/src/main.ts
  packages/bot/src/index.ts
  yarn.lock
Due: backend

progress
  .circleci/continue_config.yml
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/combat/combat.module.ts
  packages/backend/src/combat/combat.resolver.ts
  packages/backend/src/logger.ts
  packages/backend/src/main.ts
  packages/backend/src/slack-auth/auth.controller.ts
  packages/backend/src/slack-auth/auth.module.ts
  packages/backend/src/tracer.ts
  packages/backend/src/typeorm/database.config.ts
  packages/bot/package.json
  packages/bot/src/logger.ts
  packages/bot/src/tracer.ts
  yarn.lock
Due: backend

updated cypress image
  .gitignore
  packages/backend/src/app.module.ts
Due: backend

updated cypress image
  packages/backend/src/app.module.ts
  packages/backend/src/main.ts
Due: backend

progress
  .circleci/continue_config.yml
  packages/bot/src/logger.ts
Due: none

progress
  package.json
  packages/backend/package.json
  packages/bot/package.json
  packages/web/package.json
  yarn.lock
Due: backend, web

progress
  package.json
  yarn.lock
Due: none

progress
  packages/backend/src/rewards/reward.service.ts
  packages/backend/src/tracer.ts
  packages/bot/src/lang/en-us.json
  packages/bot/src/locale.ts
  packages/bot/src/tracer.ts
  packages/bot/src/views/home.ts
Due: backend

progress
  packages/backend/src/app.module.ts
  packages/backend/src/main.ts
  packages/bot/src/index.ts
  packages/bot/src/logger.ts
  packages/bot/src/reward_handler/index.ts
  packages/bot/src/reward_handler/reward-observer.ts
Due: backend

progress
  packages/bot/src/common/AbstractObserver.ts
  packages/bot/src/logger.ts
  packages/bot/src/mention_handler/combat.ts
  packages/bot/src/mention_handler/delete-character.ts
  packages/bot/src/reward_handler/reward-observer.ts
  packages/bot/src/utils/gql.ts
Due: none

progress
  packages/bot/src/common/AbstractObserver.ts
  packages/bot/src/lang/en-us.json
  packages/bot/src/mention_handler/help.ts
  packages/bot/src/mention_handler/index.ts
  packages/bot/src/reward_handler/reward-observer.ts
Due: none

progress
  packages/bot/src/mention_handler/character-sheet.ts
  packages/bot/src/mention_handler/help.ts
  packages/bot/src/reward_handler/reward-observer.ts
Due: none

progress
  .circleci/continue_config.yml
  packages/web/package.json
  yarn.lock
Due: web

progress
  packages/web/docker-entrypoint.sh
  packages/web/next.config.js
Due: web

progress
  .circleci/continue_config.yml
  packages/web/Dockerfile
  packages/web/docker-entrypoint.sh
Due: web

progress
  packages/web/Dockerfile
  packages/web/next.config.js
Due: web

progress
  packages/web/Dockerfile
  packages/web/docker-entrypoint.sh
  packages/web/package.json
  yarn.lock
Due: web

progress
  packages/web/Dockerfile
Due: web

progress
  .circleci/continue_config.yml
  packages/bot/src/index.ts
Due: none

switching to gcp
  .circleci/continue_config.yml
Due: none

Path conditions:
  backend: any of: packages/backend/.*
  web: any of: packages/web/.*
