Repository fishgills/battlebot: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, web

progress
  packages/backend/Dockerfile
Due: backend

progress
  .dockerignore
  packages/backend/Dockerfile
Due: backend

progress
  .circleci/continue_config.yml
  packages/backend/Dockerfile
  packages/backend/docker-entrypoint.sh
Due: backend

progress
  .circleci/config.yml
  Dockerfile
  packages/bot/docker-entrypoint.sh
  packages/bot/src/actions/reroll-observer.ts
  packages/bot/src/mention_handler/help.ts
Due: none

progress
  .circleci/continue_config.yml
Due: none

progress
  .circleci/continue_config.yml
  packages/bot/src/index.ts
Due: none

progress
  .circleci/continue_config.yml
  packages/bot/Dockerfile
  packages/web/Dockerfile
Due: web

progress
  Dockerfile
Due: none

progress
  packages/backend/docker-entrypoint.sh
  packages/bot/docker-entrypoint.sh
  packages/web/docker-entrypoint.sh
Due: backend, web

progress
  Dockerfile
  packages/backend/docker-entrypoint.sh
  packages/bot/docker-entrypoint.sh
Due: backend

progress
  .circleci/continue_config.yml
  packages/backend/src/tracer.ts
  packages/bot/src/logger.ts
Due: backend

progress
  .circleci/continue_config.yml
  packages/backend/src/logger.ts
  packages/bot/src/logger.ts
Due: backend

progress
  .circleci/continue_config.yml
  Dockerfile
Due: none

Path conditions:
  backend: any of: packages/backend/.*
  web: any of: packages/web/.*
