Repository fishgills/battlebot: changes, and which CircleCI parameters are due for each by the changed paths.
All: bot, backend, web

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          mapping: |
            packages/bot/.* bot true
            packages/backend/.* backend true
            packages/web/.* web true
          base-revision: master

progress
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

progress
  .circleci/continue_config.yml
Due: none

progress
  .circleci/config.yml
Due: none

progress
  .circleci/continue_config.yml
  Dockerfile
Due: none

progress
  .circleci/continue_config.yml
  package.json
  yarn.lock
Due: none

progress
  .circleci/continue_config.yml
  packages/web/Dockerfile
Due: web

UPDATED: CircleCI config updated with and commented out previous orb. - Added new orb "gcp-cloud-run" - Commented out previous orb "gcp-gcr"
  .circleci/continue_config.yml
  packages/bot/package.json
  packages/bot/src/index.ts
  yarn.lock
Due: bot

UPDATED: Made changes to the .circleci/continue_config.yml file.
  .circleci/continue_config.yml
Due: none

UPDATED: Updated default "bot" parameter in .circleci/continue_config.yml
  .circleci/continue_config.yml
Due: none

UPDATED: Updated .circleci/continue_config.yml
  .circleci/continue_config.yml
Due: none

AD_config.yml and added extensions.json
  .circleci/continue_config.yml
  .vscode/extensions.json
Due: none

UPDATED: CircleCI configuration file
  .circleci/continue_config.yml
Due: none

blah
  .circleci/continue_config.yml
Due: none

blah
  .circleci/continue_config.yml
  .vscode/extensions.json
Due: none

things working
  packages/backend/src/exception-handler.ts
  packages/backend/src/main.ts
Due: backend
